<h1>Questions</h1>


<div  style='margin: 10px;' class="accordion" id="accordionExample">
  <div class="card" *ngFor='let question of questionList;let i=index'>
    <div class="card-header" id="headingOne">
      <h2 class="mb-0">
        <button class="btn btn-link" type="button" data-toggle="collapse" [attr.data-target]="'#demo'+ i" 
          aria-expanded="false" aria-controls="collapseOne">
          {{question.questionText}}

        </button>
      </h2>
    </div>

    <div id="demo{{i}}"  class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body">
        <p>
          <button class="btn btn-success" data-toggle="collapse" data-target="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">View details</button>
          <button class="btn btn-warning" (click)='OnRule(question)' style="margin-left: 20px;" type="button" data-toggle="collapse" data-target="#multiCollapseExample2" aria-expanded="false" aria-controls="multiCollapseExample2">Make Rule</button>
          <button class="btn btn-danger" style="margin-left: 20px;" type="button" data-toggle="collapse" data-target="#multiCollapseExample3" aria-expanded="false" aria-controls="multiCollapseExample2">View Rule</button>
        
        </p>
        <div class="row">
          <div class="col">
            <div class="collapse multi-collapse" id="multiCollapseExample1">
              <div class="card card-body">
               <div><strong>Question Id: </strong> {{question.questionId}}</div> 
               <div><strong>Options: </strong> <ul *ngFor='let option of question.options'>
                 <li>{{option.optionText}}</li>
               </ul></div> 
                </div>
            </div>
          </div>
          <div class="col">
            <div class="collapse multi-collapse" id="multiCollapseExample2">
              <div class="card card-body">
                <div *ngIf='i==0'>
                  <h2>Rule not applicable for this question</h2>

                 
                </div>
                <div *ngIf='i!==0'class="col">
                  <p>(</p>
                  <select class="" id="Select01" (change)='OnSelect($event.target.value)'>
                    <option selected disabled>Choose Question</option>

                    <option *ngFor='let question of filteredQuestionList' [value]="question.questionId"> {{question.questionText}}</option>
                   
                  </select>
                 <select class="" id="inputGroupSelect01">
                    <option selected>Choose Option</option>

                    <option *ngFor='let option of filteredOption' value="{{option.optionId}}"> {{option.optionText}}</option>
                   
                  </select>
                  <p>)</p>
                  <input type="checkbox" value="and">and
                  <input type="checkbox" value="or">or

                </div>
                
              </div>
            </div>
          </div>
          <div class="col">
            <div class="collapse multi-collapse" id="multiCollapseExample3">
              <div class="card card-body">
                <div *ngIf='i==0'>
                  <h1>No rules available</h1>
                </div>
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
