<h1>Questions</h1>


<div style='margin: 10px;' class="accordion" id="accordionExample">
  <div class="card" *ngFor='let question of questionList;let i=index'>
    <div class="card-header" id="headingOne">
      <h2 class="mb-0">
        <button class="btn btn-link" type="button" data-toggle="collapse" [attr.data-target]="'#demo'+ i"
          aria-expanded="false" aria-controls="collapseOne">
          {{question.questionText}}

        </button>
      </h2>
    </div>

    <div id="demo{{i}}" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body">
        <p>
          <button class="btn btn-success" data-toggle="collapse" data-target="#multiCollapseExample1" role="button"
            aria-expanded="false" aria-controls="multiCollapseExample1">View details</button>
          <button class="btn btn-warning" (click)='OnRule(question)' style="margin-left: 20px;" type="button"
            data-toggle="collapse" data-target="#multiCollapseExample2" aria-expanded="false"
            aria-controls="multiCollapseExample2">Make Rule</button>
          <button class="btn btn-danger" style="margin-left: 20px;" type="button" data-toggle="collapse"
            data-target="#multiCollapseExample3" aria-expanded="false" aria-controls="multiCollapseExample2">View
            Rule</button>

        </p>
        <div class="row">
          <div class="col">
            <div class="collapse multi-collapse" id="multiCollapseExample1">
              <div class="card card-body">
                <div><strong>Question Id: </strong> {{question.questionId}}</div>
                <div><strong>Options: </strong>
                  <ul *ngFor='let option of question.options'>
                    <li>{{option.optionText}}</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="collapse multi-collapse" id="multiCollapseExample2">
              <div class="card card-body">
                <div *ngIf='i==0'>
                  <h2>Rule not applicable for this question</h2>


                </div>
                <div *ngIf='i!==0' class="col">
                     <p>(</p>
                      <select class="" #QSelect01 id="QSelect01" (change)='OnSelect($event.target.value)'>
                    <option selected disabled>Choose Question</option>

                    <option *ngFor='let question of filteredQuestionList' [value]="question.questionId">
                      {{question.questionText}}</option>

                  </select>
                  <select class="" #OSelect01  id="OSelect01">
                    <option selected>Choose Option</option>

                    <option *ngFor='let option of filteredOption' value="{{option.optionId}}"> {{option.optionText}}
                    </option>

                  </select>
                  <p>)</p>
                  <select #opt name="" id="">
                    <option value="or">or</option>
                    <option value="and">and</option>
                  </select>
                  <!-- <input type="radio" #opt1 (change)='OnCheck($event.target.checked,$event.target)' value="and">and
                  <input type="radio"  #opt2  (change)='OnCheck($event.target.checked,$event.target)' value="or">or -->

                  <div [ngStyle]="{'display':addRule? 'block' : 'none' }">
                    <p>(</p>
                    <select class="" #QSelect02  id="SQelect02" (change)='OnSelect($event.target.value)'>
                      <option selected  disabled>Choose Question</option>

                      <option *ngFor='let question of filteredQuestionList' [value]="question.questionId">
                        {{question.questionText}}</option>

                    </select>
                    <select class="" id="OSelect01" #OSelect02 >
                      <option selected>Choose Option</option>

                      <option *ngFor='let option of filteredOption' value="{{option.optionId}}"> {{option.optionText}}
                      </option>

                    </select>
                    <p>)</p>
                  </div>
                  <button class='btn btn-success'(click)='RuleSave(QSelect01.value,OSelect01.value,opt.value,QSelect02.value,OSelect02.value)'>Save Rule</button>




                </div>

              </div>
            </div>
          </div>
          <div class="col">
            <div class="collapse multi-collapse" id="multiCollapseExample3">
              <div class="card card-body">
                <div *ngIf='i==0'>
                  <h1>No rules available</h1>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>